h1 {
	font-family: 'Chelsea Market', cursive;
	color: rgb(255, 255, 255);
	padding-left: 1.5%;
	padding-top: 0.5%;
}

h2 {
	font-family: 'Chelsea Market', cursive;
	color: rgb(255,255,255);
	padding-left: 1.5%;
	padding-top: 0.5%;
}

h3 {
	font-family: 'Chelsea Market', cursive;
	color: pink;
}

li {
	margin: 60px 0;
}

body {
	background-color: rgb(12, 146, 232); 
}

.container{
	background-color: rgb(43, 120, 255);
	width: 50%;
	margin: 0 auto;
	height: 500px;
	border-radius: 5%;
}

.next-question{
	font-family: 'Chelsea Market', cursive;
	font-size: 50px;
	/* color: white; */
	float: right;
	padding-right: 1.5%;
}

a {
	text-decoration: none;
	color: white;
}