<div class="game-container">
	<div id="main-area">
	  <div class="title">Quiz Time</div>
	  <div class="options">
	    <label for="category">Category</label>
	    <select name="category" id="select-category" class="category">
	      <option value="1">General Knowledge</option>
	      <option value="2">Sports</option>
	      <option value="3">Anime and Manga</option>
	    </select>
	    <br>
	    <label for="difficulty">Difficulty</label>
	    <select name="difficulty" id="select-difficulty" class="difficulty">
	      <option value="1">Eazy</option>
	      <option value="2">Medium</option>
	      <option value="3">Hard</option>
	    </select>
	    <br>
	    <button id="btn-start" class="btn-start">start</button>
	  </div>
	</div>
</div>
<small><%=link_to  "Back", root_path %></small>